*{
    outline: none;
}
html, body{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal; 
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    background: #FFF;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    color: #434343;
}
p{
    color: #808080;
}
#top-bar{
    background: #FFDD00;
}
#top-bar a, #top-bar span{
    color: #000000;
    display: inline-block;
    padding: 6px 0px;
    font-size: 14px;
}
#top-bar a{
    font-weight: 500;
}
header{
    background: #002E63;;
    padding: 3em 0;
}
.wrapper-search{
    position: relative;
    width: 100%;
}
#input-search{
    box-shadow: none;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 30px;
    margin-bottom: 0;
    padding: 1.7em 1.4em;
    font-size: 14px;
    color: #8A8A8A;
}
#btn-submit{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
}
#btn-submit img{
    height: 20px;
}
#btn-submit img:hover{
    cursor: pointer;
}
.primary-menu{
    flex-wrap: nowrap;
}
.primary-menu li{
    display: flex;
    align-items: center;
    padding: 4px 0.5em;
}
.primary-menu li a{
    color: #434343;
    font-size: 16px;
}
.primary-menu{
    justify-content: space-between;
}
.dropdown.menu>li:hover{
    background: #f1f1f1;
}
.dropdown.menu>li>a{
    padding: .7rem 0.3rem;
}

.dropdown.menu>li.opens-right>.is-dropdown-submenu{
    background: #FFF;
    border: 0;
    z-index: 2;
}
.swiper-button-prev{
    left: 0;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev, .swiper-button-next{
    height: auto;
    width: auto;
}
.swiper-button-prev:after,.swiper-button-next:after{
    display: none;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}
.swiper-pagination-bullet-active{
    background: #ffffff;
}
.is-dropdown-submenu li:hover{
    background: #f1f1f1;
}.
.dropdown-pane-custom{
    text-align: left;
}
.dropdown-pane-custom h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #00862F;
}
.dropdown-pane-custom ul{
    list-style: none;
    margin: 0;
}
.dropdown-pane-custom li{
    position: relative;
    padding-left: 22px;
}
.dropdown-pane-custom li:before{
    content: '';
    border: 1px solid #00862F;
    width: 15px;
    height: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0px;
}
.dropdown-pane-custom{
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.dropdown-pane-custom.is-open{
    opacity: 1;
}
.logo-header-wrapper{
    display: flex;
}
.logo-header-wrapper .logo-header2{
    padding-left: 2em;
}
.social-block-header i{
    color: #FFF;
    font-size: 25px;
    padding-left: 15px;
}
.display-flex-search-and-social-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-block-header{
    min-width: 120px;
    display: flex;
    justify-content: flex-end;
}
.flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper-unidades-header{
    background: #00862F;
    padding: 11px 0;
    position: relative;
}
.wrapper-unidades-header a{
    position: relative;
    z-index: 2;
}
.wrapper-unidades-header:before{
    content: '';
    background: url(../img/border-nav-left.svg);
    position: absolute;
    width: 53px;
    height: 46px;
    top: 0;
    left: -50px;
}
.wrapper-unidades-header a{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}
.wrapper-unidades-header:after{
    content: '';
    background: #00862F;
    position: absolute;
    width: 1000px;
    height: 100%;
    top: 0;
}
nav{
    background: #FFF;
    max-height: 46px;
}
.box-shortcut{
    background: #FFFFFF;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    margin-top: -3em;
    position: relative;
    z-index: 2;   
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.box-shortcut-category-name{
    background: #1263BF;
    display: flex;
    flex-direction: column;
    min-width: 125px;
    padding: 3em 1.5em;
}
.bg-blue{
    background: #1263BF;
}
.bg-blue:hover{
    background: #00499c;
}
.bg-green{
    background: #00862F;
}
.bg-green:hover{
    background: #006624;
}
.box-shortcut-category-name h2{
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}
.box-shortcut-category-name a{
    color: #FFF;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.box-shortcut-category-common{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.box-shortcut-category-common a{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;    
-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;    
}
.box-shortcut-category-common a:hover{
    top: -10px;
}
.box-shortcut-category-common:hover{
    box-shadow: 2px 5px 24px 5px #eaeaea inset;
}
.box-shortcut-category-thumb{
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-shortcut-category-label{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #464646;
    font-weight: 400;
    margin-top: 10px;
}
.title-default{
    font-size: 32px;
    font-weight: 700;
    color: #434343;
    margin-bottom: 0;
}
.sub-title{
    font-size: 16px;
    font-weight: 400;
    color: #434343;
}
.box-service{
    position: relative;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.box-service:before{
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.83%, #000000a3 100%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;   
    z-index: 2;
}
.box-service-info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(255 255 255 / 30%);
    z-index: 3;
}

.box-service-icon{
    background: #1263BF;
    width: 20%;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-service-label h2{
    font-size: 15px;
    margin-bottom: 0;
    color: #FFF;
    font-weight: 500;
}
.box-service-label{
    color: #FFF;
    width: 80%;
    margin-left: 1em;
    margin-right: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.box-service-thumb{
-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;        
}
.box-service:hover .box-service-thumb{
    transform: scale(1.1);
}
.box-service-icon{
    height: 75px;
    width: 100px;
}
.box-service-icon img{
    max-width: 50px;
}
.relative{
    position: relative;
}
.swiper-button-next2{
    top: -70px;
    right: 0;
}
.swiper-button-prev2{
    top: -70px;
    left: auto;
    right: 80px;
}
.swiper-button-prev3{
    top: -50px;
    left: auto;
    right: 80px;    
}
.swiper-button-next3{
    top: -50px;
    right: 0;    
}
.button-ghost{
    border: 2px solid #1263BF;
    margin-bottom: 0;
    color: #1263BF;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    padding-left: 2em;
    padding-right: 2em;
}
.button-ghost:hover, .button-ghost:focus, .button-ghost:active{
    border: 2px solid #0a7af9;
    color: #0a7af9;
    background: transparent;    
}
.button-fill{
    background: #1263BF;
    color: #FFDD00;
    padding: 1.2em 2em;    
}
.button-fill:hover, .button-fill:focus, .button-fill:active{
    background: #157BEE;
    color: #FFDD00;   
}
.flex-icon-title-label{
    padding-left: 1em;
}
.flex-icon-title{
    display: flex;
    align-items: center;
}
.box-product{
    background: #FFFFFF;
    box-shadow: 4px 3px 12px rgb(140 140 140 / 15%);
    padding-top: 10px;
    text-align: center;
}
.box-product-thumb{
    height: 224px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.box-product-thumb img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.box-product-title{
    margin-top: 1em;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
}
.box-product-title h3{
    font-size: 16px;
    font-weight: 600;
    color: #003370;
    padding: 0 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
    margin-bottom: 0;
}
.box-product-info{
    padding: 0 1em;
    color: #808080;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;   
    min-height: 110px; 
}
.box-product-target{
    padding: 1em 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #464646;
    font-size: 14px;
    border-top: 1px solid #DBDBDB;
}
.box-product-target img{
    padding-right: 10px;
    max-width: 35px;
}
.swiper3{
    padding: 1em;
}
.feature-app{
    display: inline-flex;
    background: #F9FBFF;
    box-shadow: 4px 4px 22px #b6d8ff91;
    border-radius: 4px;
    margin-bottom: 1.5em;
    max-width: 510px;
    width: 100%;
    position: relative;
    top:0;
-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;        
}
.feature-app:hover{
    top: -5px;
}
.feature-app-icon{
    background: #F9FBFF;
    box-shadow: 4px 4px 22px #b6d8ff;
    border-radius: 4px;
    padding: 1em;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-app-label{
    display: flex;
    align-items: center;
    padding: 4px 1.5em;
    font-size: 15px;
}
.background-app{
    background: url(../img/background-aplicativo.jpg) no-repeat;
    width: 100%;
    background-position: center top;
    margin: 0 auto;
    padding-top: 2em;
}
.background-app h2{
    font-size: 26px;
    font-weight: bold;
    color: #1263BF;
    margin-bottom: 0;
    margin-top: 1.5em;
}
.onde-estamos{
    background: url(../img/background-oficina.jpg) no-repeat top center;
    padding: 5em 0;
}
.onde-estamos h2{
    color: #FFD800;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0;
}
.onde-estamos h3{
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 2em;
}
.wrapper-location{
    background: rgba(0, 48, 104, 0.95);
    border: 1px solid #004DA5;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;    
    position: relative;
-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;        
}
.wrapper-location:hover{
    border: 1px solid #0069e0;
    background: rgb(0 61 132 / 69%);
    cursor: pointer;    
}
.wrapper-location.active{
    border-left: 4px solid #ffd800;
}
.wrapper-location:before{
    content: '';
    background: url(../img/icon-plus.svg) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
}
.wrapper-location-label h4{
    padding: 0.5em 1em;
    font-size: 14px;
    margin-bottom: 0;
    color: #FFF;
    width: 94%;
    border-right: 1px solid #004da5;
}
.wrapper-photo-unidade{
    position: relative;
    margin-top: 3em;
    padding-left: 1em;
}
.wrapper-photo-unidade img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 527px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}
.wrapper-photo-unidade:after{
    content: '';
    border: 1px solid #1E80F0;
    width: 100%;
    height: 100%;
    top: 40px;
    position: absolute;
    left: 36px;
    border-radius: 15px;
    z-index: 0;
}
.como-chegar,.unidade-telefone{
    background: #FFFFFF;
    box-shadow: 4px 4px 22px #1e80f0;
    border-radius: 4px;
    position: absolute;
    right: -45px;
    bottom: 17px;
    z-index: 2;
}
.unidade-telefone{
    display: inline-block;
    padding: 1em 2em;
    bottom: 67px;
    right: -24px; 
}
.como-chegar a{
    color: #464646;
    font-weight: 500;
    display: block;
    padding: 1em 3em;
}
.unidade-telefone a{
    color: #464646;
    font-weight: 500;    
}
.button-yellow{
    background: #FFDD00;
    color: #464646;
    font-weight: 500;    
    padding: 1em 2em;
    margin-bottom: 0;
}

.button-yellow:hover, .button-yellow:focus, .button-yellow:active{
    background: #ffee7e;
    color: #48400e;
}
.card-blog-thumb{
    height: 260px;
}
.card-blog-thumb img{
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-blog-title{
    background: #FFFFFF;
    box-shadow: 4px 4px 22px rgb(140 140 140 / 25%);
    border-radius: 10px;
    padding: 1em;
    margin-top: -3em;
    z-index: 2;
    position: relative;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.card-blog-title h2{
    font-size: 16px;
    color: #002E63;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
}
.card-blog-title a{
    color: #1263BF;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;    
}
.card-blog-date{
    background: linear-gradient(180deg, #F0F0F0 0%, #FFFFFF 52.67%);
    box-shadow: 4px 4px 22px rgb(140 140 140 / 25%);
    border-radius: 5px;
    position: absolute;
    padding: 8px 15px;
    top: -29px;
    right: 20px;
    font-size: 14px;
}
.card-blog-title:hover a{
    padding-left: 1em;
}
.blog-section{
    padding: 5em 0;
}
.blog-absolute{
    position: absolute;
    top: -28px;
    right: 0px;
}
footer{
    background: #002E63;
    padding: 2em 0;
}
footer h4{
    color: #FFD800;
    font-weight: bold;
    font-size: 20px;
}
footer ul{
    list-style: none;
    margin: 0;
}
footer ul li, footer ul li a{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 2;
}
footer ul li a:hover{
    color: #98c8ff;
}
.app-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.app-footer img{
    margin-bottom: 10px;
}
#footer-bar{
    background: #FFD800;
    padding: 0.7em 0;
}
#footer-bar span{
    color: #434343;
    font-size: 16px;
    font-weight: 500;
}
#footer-bar i{
    font-size: 20px;
    margin-left: 5px;
    color: #002E63;
}
.margin-left-2-custom{
    margin-left: 2em;
}
.menu.vertical, .drilldown a{
    background: #002E63;
    color: #FFF;
}
.drilldown .is-drilldown-submenu-parent>a::after{
    border-color: transparent transparent transparent #ffffff;
}
.drilldown a{
    border-bottom: 1px solid #013f86;
}
.drilldown .js-drilldown-back>a::before{
    border-color: transparent #ffffff transparent transparent;    
}
#closeMenuMobile{
    background: #00862F;
    color: #FFF;
    padding: 13px;
}

#inner-page{
    background: #D9E6FF;
    padding: 3em;
    position: relative;
}

#inner-page h1{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    margin-bottom: 0.1em;
    color: #1263BF;
}
.breadcrumbs li a{
    color: #1263BF;
}
.color-blue{
    color: #1263BF;
}
.b-radius-5{
    border-radius: 5px;
}
.card-filter{
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 4px 4px 22px rgba(140, 140, 140, 0.13);
    margin-bottom: 2em;
}
.card-filter-content::-webkit-scrollbar{width:8px}
.card-filter-content::-webkit-scrollbar-track{background:#EAEAEA}
.card-filter-content::-webkit-scrollbar-thumb{border-radius:10px;background:#1263BF}
.card-filter h4{
    font-size: 18px;
    color: #1263BF;
    font-weight: 600;
}
.card-filter-content{
    max-height: 380px;
    overflow-y: auto;
}
.card-filter p{
    color: #626262;
    font-size: 14px;
}
.card-filter label{
    color: #626262;
    font-size: 14px;
}
.card-filter label input{
    margin: 0;
    margin-right: 6px;
    margin-bottom: 13px;
}
.card-filter label:hover{
    color: #131313;
}
.wrapper-product-detail{
    text-align: center;
    position: relative;
}
.product-detail-target{
    position: absolute;
    bottom: 0;
    background: rgb(255 255 255 / 80%);
    width: 100%;
}
.product-detail-target .box-product-target{
    margin-bottom: 0;
    display: inline-block;
    border-top: 0;    
}
.button-whatsapp{
    background: #009540;
    font-size: 18px;
}
.button-whatsapp:hover, .button-whatsapp:focus, .button-whatsapp:active{
    background: #00AC4A;
}
.bg-blue-wrapper{
    width: 100%;
    background: #D9E6FF;
    border: 10px solid #E3EDFF;
    padding: 3em 0;
    max-width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
}
.selos-area{
    padding: 1em 0;
}
.selos-area img{
    max-height: 50px;
    margin-right: 1em;
}
#blog-content{
    padding-right: 1em;
}
#blog-content h1{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    margin-bottom: 0.1em;
    color: #1263BF;    
}
#blog-content h2{
    font-size: 18px;
}
#blog-content h3, #blog-content h4, #blog-content h5, #blog-content h6{
    color: #1263BF;    
    font-weight: bold;
}
#blog-content h3{
    font-size: 22px;
}
#blog-content h4{
    font-size: 20px;
}
#blog-content p{
    font-size: 16px;
}
#blog-content img{
    padding: 1em 0;
}

.unidades-label-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.unidades-label-pin{
    padding-right: 15px;
}
.box-unidades{
    background: #FFFFFF;
    box-shadow: 2.88196px 3.84261px 32.6622px rgba(0, 0, 0, 0.04);
    border-radius: 5px;    
}
.box-unidades-label{
    background: #002e63;
    padding: 1em;
}
.box-unidades-label h4{
    font-size: 20px;
    color: #ffdd00;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.box-unidades-label h5{
    color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.box-unidades-info-flex{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 0 2em;
    padding-bottom: 0.2em;
}
.box-unidades-info-flex a{
    color: #494949;
    font-weight: 600;
}
.box-unidades-info{
    padding: 1em 0;
}
.box-unidades-horario{
    padding: 0 2em;
    color: #494949;
    margin-bottom: 1em;
}
.box-unidades-horario div{
    padding-bottom: 0.2em;
    padding-top: 0.3em;
}
.box-unidades-thumb{
    overflow: hidden;
    height: 250px;
    border-radius: 6px 6px 0 0;
}
.box-unidades-thumb img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
    .bg-blue-wrapper{
        max-width: 100%;
    }
    nav{
        display: none;
    }
    .mobile-order{
        order: 3;
    }
    .wrapper-search{
        margin:2em 0 1em 0;
    }
    .social-block-header{
        display: none;
    }
    .como-chegar{
        right: 0px;
        left: 0;
        margin: 0 auto;
        max-width: 300px;
        text-align: center;
        box-shadow: 4px 4px 22px #1e80f085;
        bottom: -20px;           
    }
    .unidade-telefone{
        right: 0px;
        left: 0;
        margin: 0 auto;
        max-width: 250px;
        text-align: center;
        box-shadow: 4px 4px 22px #1e80f085;
        bottom: 30px;   
    }
    .wrapper-photo-unidade:after{
        display: none;
    }
    .button-yellow{
        font-size: 18px;
    }
    .margin-left-2-custom{
        margin-left: 0 !important;
    }
    #mobile-menu{
        height: 32px;
    }
    .card-blog{
        margin-top: 2em;
    }
    .blog-absolute{
        display: none;
    }
    .blog-section{
        padding: 1em 0 4em 0;
    }
    .button-fill{
        font-size: inherit;
        width: 100%;
    }
    .title-default{
        font-size: 24px;
    }
    .swiper-button-next2, .swiper-button-prev2, .swiper-button-next3, .swiper-button-prev3{
        display: none;
    }
    .box-shortcut{
        margin-top: 2em;
    }
    .wrapper-location-label h4{
        width: 92%;
    }
    footer h4{
        margin-top: 2em;
    }
    footer, #footer-bar{
        text-align: center;
    }
    .app-footer{
        align-items: center;
    }
    .feature-app-icon{
        box-shadow: none;
    }
    .feature-app{
        padding: 0.5em;
    }
    #top-bar{
        display: none;
    }
    .swiper-button-next1 img, .swiper-button-prev1 img{
        height: 40px;
    }
    header{
        background: #002E63;
        padding: 2em 0 1em 0;
        border-top: 3px solid #ffd800;        
    }
    .box-shortcut-category-name{
        padding: 2em 1em;
        min-width: 100px;
    }
    .box-shortcut-category-name h2{
        font-size: 18px;
    }
    .box-shortcut-category-name a, .box-shortcut-category-label{
        font-size: 14px;
    }
    .box-shortcut-category-thumb{
        height: auto;
    }
    .box-shortcut-category-thumb img{
        max-width: 45px;
    }
    .box-shortcut-category-common a:hover{
        top: 0;
    }
    .padding-right-0-mobile{
        padding-right: 0;
    }
}   

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    nav{
        display: none;
    }
    .mobile-order{
        order: 3;
    }
    .wrapper-search{
        margin:2em 0 1em 0;
    }
    .social-block-header{
        display: none;
    }
    .como-chegar{
        right: 0px;
        left: 0;
        margin: 0 auto;
        max-width: 300px;
        text-align: center;
    }
    .unidade-telefone{
        right: 0px;
        left: 0;
        margin: 0 auto;
        max-width: 250px;
        text-align: center;
    }
    .wrapper-photo-unidade:after{
        display: none;
    }
    .button-yellow{
        font-size: 18px;
    }
    .margin-left-2-custom{
        margin-left: 0 !important;
    }
    #mobile-menu{
        height: 32px;
    }
    .card-blog{
        margin-top: 2em;
    }  
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
    .wrapper-unidades-header a{
        font-size: 13px;
    }
    .dropdown.menu>li>a {
        padding: .7rem 0.3rem;
        font-size: 14px;
    }  
    .box-product-target img {
        padding-right: 5px;
        max-width: 25px;
    }      
    .box-product-target, .box-product-info{
        font-size: 13px;
    }
    .box-service-label h2{
        font-size: 14px;
    }
    .como-chegar{
        right: 10px;
    }
    .unidade-telefone{
        right: 30px;
    }

}
/* Large and up */
@media screen and (min-width: 74.9376em) {
    .grid-container{
        max-width: 75rem;
    }
    .primary-menu li{
        padding: 4px 0.7em;
    }
}

/* especial medium in height */
@media screen and (min-width: 1200px) and (max-height: 550px) {

}